.Lanyard_activityLoaderNewTab__lW9_8,
.Lanyard_activityLoader__w_n9c,
.Lanyard_activityNewTab__59lnQ,
.Lanyard_activity__ZovoQ {
    padding: 16px;
    width: 300px;
    min-height: 95px;
    transition: background-color 1s;
    transition: border-color 1s;
    background-color: #161616;
    border: .75px solid hsla(0, 0%, 78%, .3);
    border-radius: 5px
}

.Lanyard_activityLoaderNewTab__lW9_8:hover,
.Lanyard_activityLoader__w_n9c:hover,
.Lanyard_activityNewTab__59lnQ:hover,
.Lanyard_activity__ZovoQ:hover {
    cursor: default;
    background-color: #1a1a1a
}

.Lanyard_activityNewTab__59lnQ {
    border: .75px solid hsla(0, 0%, 100%, 0)
}

.Lanyard_activityNewTab__59lnQ,
.Lanyard_activityNewTab__59lnQ:hover {
    background-color: hsla(0, 0%, 100%, 0)
}

.Lanyard_activityLoaderNewTab__lW9_8,
.Lanyard_activityLoader__w_n9c {
    padding: 0
}

.Lanyard_activityLoaderNewTab__lW9_8 {
    background-color: hsla(0, 0%, 100%, 0);
    border: .75px solid hsla(0, 0%, 100%, 0)
}

.Lanyard_activityLoaderNewTab__lW9_8:hover {
    background-color: hsla(0, 0%, 100%, 0)
}

.Lanyard_primaryImage__UqAiH {
    width: 60px;
    height: 60px;
    border-radius: 5px
}

.Lanyard_secondaryImageMobileNewTab__fnt5x,
.Lanyard_secondaryImageMobile__wb0Kj,
.Lanyard_secondaryImageOutlineNewTab__5b0uJ,
.Lanyard_secondaryImageOutline__cRGk5,
.Lanyard_secondaryImage__uPsB8 {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: -5px;
    right: -5px;
    border-radius: 50%
}

.Lanyard_secondaryImageMobileNewTab__fnt5x,
.Lanyard_secondaryImageMobile__wb0Kj {
    width: 17px;
    height: 22px;
    font-size: 16px;
    background-color: #161616;
    border-radius: 3px;
    padding-top: 2px;
    right: 2px;
    bottom: -2px
}

.Lanyard_secondaryImageMobileNewTab__fnt5x {
    background-color: #010409
}

.Lanyard_secondaryImageOutlineNewTab__5b0uJ,
.Lanyard_secondaryImageOutline__cRGk5 {
    width: 22px;
    height: 22px;
    border: 2px solid #161616
}

.Lanyard_secondaryImageOutlineNewTab__5b0uJ {
    border: 2px solid #010409
}

.Lanyard_avatarImage__GPsNl {
    width: 60px;
    height: 60px;
    border-radius: 50%
}

.Lanyard_avatarDecoration__oo4NN {
    position: absolute;
    top: -10px;
    left: -10px;
    pointer-events: none
}

.Home_container__B1VFq {
    position: absolute;
    top: 47.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center
}

.Home_blueText__Bt11b {
    color: #212bb8
}

a.Home_blueText__Bt11b:hover {
    text-decoration: underline
}

.Home_icon__wbhvN {
    padding-left: 12.5px;
    padding-right: 12.5px;
    transition: .15s;
    fill: #fff
}

.Home_icon__wbhvN:hover {
    fill:#f8aead
}